apiVersion: apps/v1
kind: Deployment
metadata:
  name: productpage-deployment
  namespace: cdps-29
  labels:
    app: productpage
    version: v1
spec:
  replicas: 1
  selector:
    matchLabels:
      app: productpage
      version: v1
  template:
    metadata:
      labels:
        app: productpage
        version: v1
    spec:
      containers:
      - name: productpage
        image: cdps-productpage:g29  # TU IMAGEN
        imagePullPolicy: IfNotPresent
        ports:
        - containerPort: 9080
        env:
        - name: DETAILS_HOSTNAME
          value: "details-service"   # USA EL SERVICE, NO EL DEPLOYMENT
        - name: RATINGS_HOSTNAME
          value: "ratings-service"
        - name: REVIEWS_HOSTNAME
          value: "reviews-service"
        securityContext:
          runAsUser: 1000